// Variables

// Fonts
$font_opensans: 'OpenSans', sans-serif;


//Color
$white: #fff;
$light_gray: #f6f2f2;
$gray: #e5e5e5;
$dark_gray: #b8b8b8;
$black: #313030;
$red: #ff3b3b;
$cream: #f5f0dd;

// Shadow 
$intro_shadow: 0px 14px 73px 0px rgba(0, 0, 0, 0.29);