@import "fonts";
@import "_vars";

body {
	margin: 0;

	font-family: $font_opensans;
	font-size: 14px;
	color: $black;

	-webkit-font-smoothing: antialiased;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
p {
	margin: 0 0 10px;
}
a {
	outline: none;
	text-decoration: none;
}
ul, li {
	padding: 0;
	margin: 0;
}
.page-header {
	width: 100%;

	.page-title {
		margin-bottom: 35px;

		font-size: 42px;
		font-weight: 600;
		text-transform: uppercase;
	}
	.page-subtitle {
		margin-bottom: 30px;

		font-size: 16px;
		font-weight: 400;
	}
	&.after-line {
		position: relative;

		&:after {
			content: "";
			width: 130px;
			height: 2px;

			position: absolute;
			bottom: 0;
			left: 50%;
			z-index: 2;

			transform: translateX(-50%);

			background-color: $red;
		}
	}
	&.line-left {
		position: relative;

		&:after {
			content: "";
			width: 130px;
			height: 2px;

			position: absolute;
			bottom: 0;
			left: 80px;
			z-index: 2;

			background-color: $red;
		}
	}
}

@import "main/_header";
@import "main/_intro";
@import "main/_about";
@import "main/_features";
@import "main/_team";
@import "main/_subscribe";
@import "main/_contact";
@import "main/_footer";